.footerBox {
  margin-top: 80px;
  margin-left: 40px;
}

.socialLinks {
  margin-bottom: 1rem;
}

.socialLinksBox {
  /* background-color: blue; */
  display: flex;
  align-items: center;
}

.iconLink {
  margin-right: 1rem;
  font-size: 34px !important;
  color: lightgray;
}

.linksList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.link {
  flex-basis: 25%;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.link a {
  color: #808080;
  text-decoration: none;
}

.footerCopyRight {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.copyrightIcon {
  color: #808080;
  font-size: 0.9rem !important;
  margin-right: 5px;
}

.copyrightText {
  color: #808080;
  font-size: 0.9rem !important;
}
